#INTERNAL_START

on fs
# mount kdebuginfo
    chmod 0760 /mnt/kdebuginfo
    chown system system /mnt/kdebuginfo
    restorecon_recursive /mnt/kdebuginfo

on post-fs

    chmod 0660 /dev/spm
    chown system system /dev/spm

on boot

service spm_script /vendor/bin/spm_loader
    user system
    group system
    oneshot
#INTERNAL_END
